@namespace MudBlazor
@inherits MudComponentBase
@typeparam T

<div class="@Classname" style="@Stylename"
     id="@_id"
     index="@Index"
     @attributes="UserAttributes"
     draggable="@(!Disabled ? "true" : "false")"
     @ondragstart="DragStartedAsync"
     @ontouchstart="TouchStartedAsync"
     @ontouchend="TouchEndedAsync"
     @ontouchmove="TouchMovedAsync"
     @ondragend="DragEndedAsync"
     @ondragenter="HandleDragEnter"
     @ondragleave="HandleDragLeave">

    @if (!HideContent)
    {
        @ChildContent
    }
</div>